AI Recruiter.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "subject:candidature has:attachment",
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e5514e97-c39f-458b-9fbd-dc082b5ad8d4",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "u0CiUEU7oIbSiuX1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "13ZqxYdlGexMd5Iqwf7yCqk6owhd9PnWM",
          "mode": "list",
          "cachedResultName": "AI Recruiter",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13ZqxYdlGexMd5Iqwf7yCqk6owhd9PnWM"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        144
      ],
      "id": "b4d00c16-e120-4804-9267-843d0cd63834",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BlbOhqDc1VQcdIaz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f678b911-0a15-4c65-bd1e-06c2ce4870a3",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        208,
        144
      ],
      "id": "0843a420-5d7f-4af4-849f-3b1f55f15775",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id}}",
        "simple": false,
        "options": {
          "dataPropertyAttachmentsPrefixName": "data_CV",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "28422eb7-2c3e-4375-b03d-9dfeab7536dc",
      "name": "Get a message",
      "webhookId": "d30f2eb8-ca5a-47f5-9c86-7a65d1128048",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "u0CiUEU7oIbSiuX1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "data_CV",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "13ZqxYdlGexMd5Iqwf7yCqk6owhd9PnWM",
          "mode": "list",
          "cachedResultName": "AI Recruiter",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13ZqxYdlGexMd5Iqwf7yCqk6owhd9PnWM"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "046aab7b-516d-437c-a506-ac80ac087461",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BlbOhqDc1VQcdIaz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data_CV",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        640,
        64
      ],
      "id": "bbed690a-56fb-409e-b146-5b1b7a4c2e79",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data_CV"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        144
      ],
      "id": "613d507c-c893-4cb1-9b34-12d68ec0532f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BlbOhqDc1VQcdIaz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Tu es un robot qui ne répond QUE par du JSON. Ne fais aucune phrase d'introduction, ne dis pas 'Voici le résultat'. Réponds UNIQUEMENT avec l'objet JSON. Tu es un expert en recrutement technique. Tu vas recevoir un CV et une Fiche de Poste. Ton rôle est de noter le candidat et d'expliquer pourquoi.  Voici la FICHE DE POSTE :  {{ $json.data_poste }}   MISSION :  Compare le CV transmis la fiche de poste.  FORMAT DE RÉPONSE (JSON uniquement) :  {  \"candidat\": \"Nom\",  \"note\": \"X/10\",  \"points_forts\": [\"point 1\", \"point 2\"],  \"points_faibles\": [\"point 1\"],  \"verdict\": \"A recruter / A écarter\"  }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1216,
        80
      ],
      "id": "0d84b801-c6a1-41b9-a6d2-bd074992bc39",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1216,
        272
      ],
      "id": "10758cd5-517a-4f68-8760-de9e663511c0",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "BrDVU22souecZC5m",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "fiche_poste",
        "destinationKey": "data_poste",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        816,
        -96
      ],
      "id": "c035e602-5418-4165-ad5e-1e6e44619379",
      "name": "Extract poste"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        944,
        48
      ],
      "id": "0a4991b1-add0-46a1-9774-c359bd3659d6",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1ROVlEIRHbwAJ14udx-DFJiY8k9GrMKt5ewR-XixE9SQ",
          "mode": "list",
          "cachedResultName": "Job",
          "cachedResultUrl": "https://docs.google.com/document/d/1ROVlEIRHbwAJ14udx-DFJiY8k9GrMKt5ewR-XixE9SQ/edit?usp=drivesdk"
        },
        "options": {
          "binaryPropertyName": "fiche_poste"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        640,
        -80
      ],
      "id": "e7a9e9e1-02e3-492b-a44e-1b80f99de504",
      "name": "Job description",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BlbOhqDc1VQcdIaz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"nom\": \"Jean Dupont\",\n  \"note\": 8,\n  \"points_forts\": \"Expérience en Python, Autonome\",\n  \"points_faibles\": \"Anglais moyen\",\n  \"verdict\": \"À recruter\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1360,
        288
      ],
      "id": "a121cb83-17a3-4bfa-a0e6-0a75abac146b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1r3K4IZkFo8qz49GPsxbqDZeWfmEMcltup48aOtv0EQ0",
          "mode": "list",
          "cachedResultName": "Résultats Candidature",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r3K4IZkFo8qz49GPsxbqDZeWfmEMcltup48aOtv0EQ0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r3K4IZkFo8qz49GPsxbqDZeWfmEMcltup48aOtv0EQ0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nom du candidat": "={{ $json.output.nom }}",
            "Note": "={{ $json.output.note }}",
            "Points forts ": "={{ $json.output.points_forts }}",
            "Verdict": "={{ $json.output.verdict }}",
            "Points faibles": "={{ $json.output.points_faibles }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nom du candidat",
              "displayName": "Nom du candidat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Points forts ",
              "displayName": "Points forts ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Points faibles",
              "displayName": "Points faibles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Verdict",
              "displayName": "Verdict",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        80
      ],
      "id": "052def16-7e22-4061-962b-676e63e95700",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xZcZUGuxf3XiKOXN",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Job description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Job description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract poste": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job description": {
      "main": [
        [
          {
            "node": "Extract poste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6f4c99c4-e7a3-46d0-9d28-fdd209a82dcc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "31e526c72b770b6cb78a178b5ebf92f36baea6ec4f657a363a2e4634438fce3a"
  },
  "id": "1OR7NVlZKY60xetD",
  "tags": []
}